site_name: Webuzo Server Setup
docs_dir: docs
site_description: Documentation for Webuzo custom setups & fixes by CORNQ
site_url: https://webuzo.cornq.net

theme:
  name: material
  features:
    - navigation.instant
    - navigation.expand
    - content.code.copy
    - search.suggest
    - search.highlight

plugins:
  - search

markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.details
