site_name: Webuzo Server Setup
docs_dir: docs
site_description: Documentation for Webuzo custom setups & fixes by CORNQ
site_url: https://webuzo.cornq.net

nav:
  - Home: index.md
  - Guides:
      - 'Allow User Delete': webuzo-allow-user-to-delete-b...md
      - 'Cron Setup': webuzo-awstat-cron-setup.md
      # ... add other files here

theme:
  name: material
  features:
    - navigation.instant
    - navigation.expand
    - content.code.copy
    - search.suggest
    - search.highlight

plugins:
  - search

markdown_extensions:
  - admonition
  - codehilite
  - footnotes
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.details
